<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzhx.greenFinance.dao.formDao.QueryAreaFinancingMapper">

	<select id="queryAreaFinancings" parameterType="String" resultMap="AreaFinancingsList">
		select distinct customerTypeCd from send_green_thr_bank_finance_stat order by customerTypeCd
	</select>
	<resultMap type="com.hzhx.greenFinance.vo.totalReport.AreaFinancings" id="AreaFinancingsList">
		<result property="customerTypeCd" column="customerTypeCd" />
		<collection property="areaFinancing" select="getAreaFinancing"
			column="customerTypeCd" ofType="com.hzhx.greenFinance.vo.totalReport.AreaFinancing">
		</collection>
	</resultMap>

	<select id="getAreaFinancing" parameterType="String" resultMap="AreaFinancing">
		SELECT * FROM send_green_thr_bank_finance_stat WHERE customerTypeCd = #{customerTypeCd}
	</select>
	<resultMap id="AreaFinancing" type="com.hzhx.greenFinance.vo.totalReport.AreaFinancing">
		<result property="areaCode" column="areaCode" />
		<result property="greenBalance" column="greenBalance" />
		<result property="greenOnBalance" column="greenOnBalance" />
		<result property="greenOffBalance" column="greenOffBalance" />
		<result property="totalBalance" column="totalBalance" />
		<result property="totalOnBalance" column="totalOnBalance" />
		<result property="totalOffBalance" column="totalOffBalance" />
		<result property="greenCustomerNum" column="greenCustomerNum" />
		<result property="greenOnCustomerNum" column="greenOnCustomerNum" />
		<result property="greenOffCustomerNum" column="greenOffCustomerNum" />
		<result property="totalCustomerNum" column="totalCustomerNum" />
		<result property="totalOnCustomerNum" column="totalOnCustomerNum" />
		<result property="totalOffCustomerNum" column="totalOffCustomerNum" />
	</resultMap>

</mapper>